<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%-include ./partials/_navbar.ejs%>
    <h1>SHOW INDEX</h1>

    <p class="title"> <%= bookShow.title %></p>
    <p class="author"> <%= bookShow.author %></p>
    <p class="genre"> <%= bookShow.genre%></p>
    <h6 class="creator">uploaded by:<%=bookShow.creator.username%>


<link rel='stylesheet' type='text/css' href='css/style.css'>

</body>
</html>