<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%-include ../partials/_navbar.ejs%>
<%-include ../partials/_jumbo.ejs%>

<div class = 'container-fluid'>
    <div class = 'row'>

        <div class = 'col mainSection color1' >
            <h5>Current Book</h5>
            <%if(typeof next.title[0] !=="null"){%>
            <p class = 'title'> <%= next[0].title %></p>
            <p class = 'author'> By: <%= next[0].author %></p>
            <img class = 'bigPic' src='<%= next[0].cover %>'>  
            <%}%>             
        </div>

        <div class = 'col'>
            <section>
                <p>Give your feedback on our next book!</p>
                <p><a href='/suggestions'>See Suggestions</a></p>
            </section>
            <section> 
                <p>Previous Reads</p>
                <section>
                    <% bookIndex.forEach(function(book) { %>
                    <div class = 'readList'> 
                        <img class = 'smallPic' src='<%= book.cover %>'>
                    </div>
                    <% }) %>
                </section>
                    <p><a href='/books/new'>Add Book to List</a></p>
            </section>
        </div> 

    </div> 
</div>  
    

<%-include ../partials/_footer.ejs%>
<%# /* pulls in info to get css working */ %>
<link rel='stylesheet' href='/css/style.css'>
<script src='client.js' charset='utf-8'></script>

</body>
</html>