<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%-include ../partials/_navbar.ejs%>
<%-include ../partials/_jumbo.ejs%>

    
<%# <div class="container" class="book-club">
</div> %>
<div class="container-fluid" class="reading-list">
    <div class='row'>
        <div class = 'col'>
            <p><%=userOnPage.username %>'s Wish List</p>
            <%for (i=0; i<userOnPage.readingList.length; i++){%>
                <p class = 'title'><%=userOnPage.readingList[i].title%></p>
                <p class = 'author'><%=userOnPage.readingList[i].author%></p>
                <form action='/users/dashboard/<%=userOnPage.readingList[i]._id%>/finishedList?_method=PUT' method='POST'>
                    <input type="submit" value="Move to already read" class='buttonFormat'>
                </form>
                <form action='/users/dashboard/<%= userOnPage.readingList[i]._id %>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete' class='buttonFormat' />
                </form>
            <%}%>
        </div>
        <div class= 'col finished-list'>
            <p>Already Read Books</p>
            <%# Items read will be moved here %>
        </div>
    </div>
</div>

<%-include ../partials/_footer.ejs%>

</body>
</html>