<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%-include ../partials/_navbar.ejs%>
<%-include ../partials/_jumbo.ejs%>
    <%# <h1>Dashboard</h1> %>
<%# <div class="container" class="book-club">
</div> %>
<div class="container-fluid" class="reading-list">
    <div class='row'>
        <div class='col'>
            <h4>Reading Wishlist</h4>
            <%for (i=0; i<userOnPage.readingList.length; i++){%>
                <p class='title'><%=userOnPage.readingList[i].title%></p>
                <p class='author'><%=userOnPage.readingList[i].author%></p>
                <p class='author'><%=userOnPage.readingList[i].genre%></p>
                <form action='/users/dashboard/<%=userOnPage.readingList[i]._id%>/finishedList?_method=PUT' method='POST'>
                    <input type="submit" value="Move to already read" class='buttonFormat'>
                </form>
                <form action='/users/dashboard/<%= userOnPage.readingList[i]._id %>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete' class='buttonFormat'/>
                </form>
            <%};%>
            <p><a href='/books/new'>Add Book to Index</a></p>
        </div>
        <div class='col container finished-list'>
            <h4>Already read books</h4>
            <%for (i=0; i<userOnPage.finishedList.length; i++){%>
                <p class='title'><%=userOnPage.finishedList[i].title%></p>
                <p class='author'><%=userOnPage.finishedList[i].author%></p>
                <p class='author'><%=userOnPage.finishedList[i].genre%></p>
            <%}%>
        </div>
    </div>
</div>
<%# <div class="container" class="finished-list">
</div> %>

<%-include ../partials/_footer.ejs%>

</body>
</html>